/**
 * @name server columns
 * @author finney
 * @version 1.0.0
 * @description simple multi-column server layout for discord.
 */

@import url('https://raw.githubusercontent.com/finnecre/servercolumns/refs/heads/main/servercolumns.css');

/* customize here */
:root {
    --columns: 3;
    --guildsize: 50;
    --guildgap: 3;
    --badgescale: 1;
    --aligndms: 1;
}